<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]= "['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
            <button mat-button (click)= "goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]= "['/dishdetail', next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-list>
          <h3>Comments</h3>
        <mat-list-item *ngFor="let comment of dish.comments">
          <h4 matLine>{{comment.comment}}</h4>
           <p matLine>{{comment.rating}} Stars</p>
           <p matLine>
             <span>-- {{comment.author}} {{comment.date | date}}</span>
           </p>
           </mat-list-item>
        </mat-list>
        <span class="flex-spacer"></span>
        <p *ngIf="commitForm.valid">
          {{ commitForm.value.comment}} <br>
          {{ commitForm.value.rating}} Stars <br>
          {{ commitForm.value.author}}
        </p>
        
        <span class="flex-spacer"></span>
        <form novalidate [formGroup]="commitForm" #cform="ngForm" (ngSubmit)="onSubmit()">
            <p>
              <mat-form-field class="full-width">
                <input matInput formControlName="author"  placeholder="Author Name" type="text" required>
                <mat-error *ngIf="formErrors.author">
                  {{formErrors.author}}
                </mat-error>
              </mat-form-field>
            </p>
              <table class="form-size">
                <td>
                <mat-slider min="1" max="5" step="1" value="1" formControlName="rating"></mat-slider>
                <mat-error *ngIf="formErrors.ratting">
                  {{formErrors.rating}}
                </mat-error>
              </td>
              </table>
              <p>
              <mat-form-field class="full-width">
                  <textarea matInput formControlName="comment" placeholder="Your comment" rows="12" required></textarea>
                  <mat-error *ngIf="formErrors.comment">
                    {{formErrors.comment}}
                  </mat-error>
                </mat-form-field>
            </p>
            <button type="submit" [disabled]="commitForm.invalid" mat-button class="background-primary text-floral-white">Submit</button>
          </form>
        </div>
        <div fxFlex [hidden]="dish || errMess">
            <mat-spinner></mat-spinner><h4>Loading... please wait</h4>
          </div>
          <div fxFlex *ngIf="errMess">
            <h2>Error</h2>
            <h4>{{errMess}}</h4>
          </div>
        </div>
      